*{
    margin: 0;
    padding: 0;
    color: rgb(228, 93, 15);
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
    cursor: pointer;
}

.container{
    position: relative;
}
.container h1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-80px;
    margin-left: 50px;
    color: rgb(32, 5, 5);
}


.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(24, 8, 46, 0.4);
    border: 2px solid rgba(24, 8, 46, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:blueviolet;
    z-index: 100;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 12px;
}

